{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h2>Contact Info</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Address:</td>
                                    <td>3 Place Pablo Picasso, 94800 Villejuif, France</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Phone:</td>
                                    <td>+(33) 1 25 25 25 25</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>contact@hotel.com</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Fax:</td>
                                    <td>+(33) 1 25 25 25 26</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Votre Nome">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Votre Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Votre Message"></textarea>
                                <button type="submit">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map">
               

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2628.6030781248187!2d2.34812631583875!3d48.78946751351101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6715b4da5632f%3A0x28e0822b2dbf4e67!2s3%20Pl.%20Pablo%20Picasso%2C%2094800%20Villejuif!5e0!3m2!1sfr!2sfr!4v1656010716604!5m2!1sfr!2sfr"  height="470" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}
